<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ActionCamera.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B59CF8CE1C4D254000E09221</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B59CF8EA1C4D254000E09221</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B59CF8F51C4D254000E09221</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
